.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  border-radius: 0 0 20px 20px;

  background-color: #fcfcfc;
  padding: 20px 50px; /*Top&Bottom Left&Right*/
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute; /*반드시부모속성 position: relative*/
  top: -10px;
  right: -10px;
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nav__list-item.active {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  left: 41%;
  bottom: 85%;
  border-radius: 60%;
  background-color: #dc5d46;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.nav__list-item.active i {
  color: white;
}
