.header {
  display: flex;
  position: sticky;
  top: 0;
  height: 50px;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  background-color: #2f3542;
  z-index: 1;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin: 0px 30px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
